@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Workout Logs</h1>
    <p>Log and track your workouts to achieve your fitness goals.</p>
</div>
